<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Speak Up!</title>
		<link rel="stylesheet" href="../static/styles.css" />
	</head>

	<body>
		<div class="content">
            <h1>Speak Up</h1>
            <p>Hi, welcome! Enter text below, and it will be played out loud.</p>

            <form action="{{ url_for('speak')}}" method="post">
                <input type="text" name="content" maxlength="2000"/>
                <button type="submit">Speak</button>
            </form>

            <p>Submit the form to populate a WAV file.</p>
        </div>
	</body>
</html>